body {
    background-color: rgb(34, 41, 39);
    color: rgb(98, 255, 98);
}

#game-wrapper {
    background-color: rgb(0, 0, 0);
    border: 5px solid rgb(88, 250, 82);
    margin:0 0 0 0;
    overflow: hidden;
    width: 68vw;
    height: calc(68vw / 16 * 9);
    display: flex;
    justify-content: center;
}

.advert {
    margin: auto;
    text-align: center;
    display: block;
    
    width: 80vw;
    height: 10vw;
    
}
#about-game {
    margin-left: 20px;
    margin-top: 15px;
    text-align: justify;
}
.column {
    border: black;
    border-style: groove;
    max-width: 500px;
}